@import url('https://fonts.googleapis.com/css?family=Abel');

body{
  /* Background colors */
  background-color: lightblue;
  /* RGBA is Red, Green, Blue, Alpha (transparency) */
  background-color: rgba(255, 0, 0, .5);
  background-color: black;

  /* Text-color with a word */
  color: darkblue;
  /* Text -colors with a HEX Code */
  /* Hex code is created with Red, Green, Blue: #RRGGBB */
  /* Hex numbers are 0-15 represented by 1-9,a-f */
  color: #ffff33ee;
  /* color: #000000; */
  /* color: #00ff00; */
  /* chrome browser supports opacity with additional hex values */
  /* color: #00ff00f0; */
  /* color: #ffffffff; */

  /* Background image (repeats by default) */
  /* background-image: url("images/back.png"); */

  /* Host a REMOTE Image */
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/58/Sunset_2007-1.jpg"); */

  background-size: 200px;
  /* Show the full image */
  background-size: contain;
  /* Cover entire page with the image */
  background-size: cover;

  text-align: center;
  background-repeat: no-repeat;
  background-position: top right;
}

h1{
  font-size: 40px;
  /* em = the current font-size */
  line-height: 2em;
  text-align: center;
  /* text-align: right; */
  font-family: 'Abel', sans-serif;
}

h2{
  text-align: left;
  font-family: 'Abel', sans-serif;
}

p{
  font-family: 'Abel', sans-serif;
  color: #fff;
  text-align: left;
}

.google-font{
  font-family: 'Abel', sans-serif;
}

.list-align{
  padding-left: 300px;
  text-align: left;
}

.yellow-text{
  color: yellow;
}

.padding{
  padding-left: 300px;
  padding-right: 300px;
}

/* id overrides class */
#urgent{
  color: red;
}
